html {
  display:flex;
  justify-content:center;
}

.field {
  flex-grow:1;
  margin:0px;
  min-width:180px;
}

.method {
  flex-grow:1;
  height:50px;
}

button {
  flex-grow:1;
  margin:0px;
  padding:0px;
}

#table {
  width:100%;
}

.disclaimer{
  color:lightgray;
  text-align:center;
}

.disclaimer a {
  color:lightgray;
}

.buttons {
  display:flex;
  flex-direction:row;
  margin-bottom:10px;
}

.myrow {
  width:100%;
  padding:0px;
  margin:0px;
  margin-bottom:10px;
  display:flex;
  flex-direction:column;
}

.rowrow{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
